.title {
    display: flex;
    align-items: center;
}

.title > button {
    margin-left: 40px;
}

.tasksFinalizadas {
    margin-top: 48px;
}

.title h1 {
    font-family: Comfortaa, sans-serif;
    letter-spacing: -5px;
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFF;
}

h2 {
    font-family: Comfortaa, sans-serif;
    color: var(--secondary-300);
}

h4 {
    line-height: 8px;
}