:root {
  --white: #FFF;

  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-500: #7C7C8A;
  --gray-600: #323238;
  --gray-700: #29292E;
  --gray-800: #202024;
  --gray-900: #121214;

  --primary: #8069ef;
  --primary-300: #ac9cfd;
  --primary-500: #6043eb;
  --primary-700: #4d36bc;
  --primary-800: #3f2d9a;
  --primary-900: #090919;

  --secondary-300: #f1bd8d;
  --secondary-500: #edad71;
  --secondary-700: #be8a5a;

  --tertiary-300: #656982;
  --tertiary-500: #3f4463;
  --tertiary-700: #32364f;

  --red-500: #e23948;
  --red-700: #c23642;

  --yellow-500: #e9ed71;

  --green-500: #4ab955;
}


body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto 40px;
  padding: 0 16px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Overpass Mono', monospace;
  background: var(--primary-700);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

